<p id="notice"><%= notice %></p>

<div class="text-right">
  <%= link_to 'Edit Team', edit_team_path(@team), class: 'btn btn-default' %>
  <%= link_to 'New Member', new_team_membership_path(@team), class: 'btn btn-success' %>
</div>

<div class="text-center">
  <h1><%= @team.name %></h1>
  <h4><small><%= @team.season %></small></h4>
</div>

<table class="table">
  <thead>
    <tr>
      <th>Player</th>
      <th>Goals</th>
      <th>Assists</th>
      <th>Saves</th>
      <th>Shots</th>
      <th colspan="1"></th>
    </tr>
  </thead>
  <tbody>
    <% @team.memberships.each do |membership| %>
      <tr>
        <td><%= membership.player.username %></td>
        <td><%= membership.player.goals %></td>
        <td><%= membership.player.assists %></td>
        <td><%= membership.player.saves %></td>
        <td><%= membership.player.shots %></td>
        <td><%= link_to 'Show', membership.player, class: 'btn btn-info' %></td>
        <td>
          <%= link_to 'Remove member', team_membership_path(@team, membership),
                  {
                    method: :delete,
                    data: { confirm: 'Are you sure?' },
                    class: 'btn btn-danger'
                  }
          %>
       </td>
      </tr>
    <% end %>
  </tbody>
</table>
