<p id="notice"><%= notice %></p>

<div class="text-right">
  <%= link_to 'Edit Season', edit_season_path(@season), class: 'btn btn-default' %>
  <%= link_to 'Show Teams', season_teams_path(@season), class: 'btn btn-info' %>
  <%= link_to 'Show Matches', season_matches_path(@season), class: 'btn btn-info' %>
</div>

<h1 class="text-center">
  <%= @season.name %>
</h1>
<h1 class="text-center">
  <small>
    <%= @season.division.meta_info %>
  </small>
</h1>

<h2>Standings</h2>

<table class="table">
  <thead>
    <tr>
      <th data-toggle="tooltip" title="Team Name">Team</th>
      <th data-toggle="tooltip" title="Wins">W</th>
      <th data-toggle="tooltip" title="Losses">L</th>
      <th data-toggle="tooltip" title="Goals For">GF</th>
      <th data-toggle="tooltip" title="Goals Against">GA</th>
      <th data-toggle="tooltip" title="Goal Difference">GD</th>
      <th data-toggle="tooltip" title="Goals per Game">GPG</th>
    </tr>
  </thead>
  <tbody>
    <% @season.ordered_teams.each do |team| %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.wins %></td>
        <td><%= team.losses %></td>
        <td><%= team.goals_for %></td>
        <td><%= team.goals_against %></td>
        <td><%= team.goal_difference %></td>
        <td>
          <%= number_with_precision(
                team.goals_per_game,
                precision: 2,
                strip_insignificant_zeros: true
              )
          %>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>
