<p id="notice"><%= notice %></p>

<div class="text-right">
  <%= link_to 'Edit Season', edit_season_path(@season), class: 'btn btn-default' %>
  <%= link_to 'Show Teams', season_teams_path(@season), class: 'btn btn-info' %>
  <%= link_to 'Show Matches', season_matches_path(@season), class: 'btn btn-info' %>
</div>

<h1 class="text-center">
  <%= @season.name %>
</h1>
<h1 class="text-center">
  <small>
    <%= @season.division.meta_info %>
  </small>
</h1>
