<%= form_for([@team, @membership]) do |f| %>
  <% if @membership.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@membership.errors.count, "error") %> prohibited this membership from being saved:</h2>

      <ul>
      <% @membership.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <%= f.hidden_field :team_id %>
  <div class="form-group">
    <%= f.label :player_id %>
    <%= f.autocomplete_field :player_id, autocomplete_player_username_team_memberships_path,
          { class: 'form-control', placeholder: 'Type for autocomplete...' } %>
  </div>
  <div class="actions">
    <%= f.submit class: 'btn btn-success' %>
  </div>
<% end %>
