<%= form_for([@match, @game]) do |f| %>
  <% if @game.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@game.errors.count, "error") %> prohibited this game from being saved:</h2>

      <ul>
      <% @game.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <table class="table">
    <thead>
      <tr>
        <th>Player</th>
        <th>Goals</th>
        <th>Assists</th>
        <th>Saves</th>
        <th>Shots</th>
      </tr>
    </thead>
    <tbody>
      <%= f.fields_for :performances do |performance| %>
        <tr>
          <td title="<%= performance.object.player.alt_name %>">
            <%= performance.hidden_field :player_id %>
            <%= performance.object.player %>
          </td>
          <td><%= performance.number_field :goals %></td>
          <td><%= performance.number_field :assists %></td>
          <td><%= performance.number_field :saves %></td>
          <td><%= performance.number_field :shots %></td>
        </tr>
      <% end %>
    </tbody>
  </table>

  <div class="actions">
    <%= f.submit class: 'btn btn-primary' %>
  </div>
<% end %>
