<p id="notice"><%= notice %></p>

<div class="text-right">
  <%= link_to 'Edit Player', edit_player_path(@player), class: 'btn btn-default' %>
</div>

<div class="text-center">
  <h1><%= @player.username %></h1>
</div>



<div class="row">
  <div class="col-sm-6 text-right">
    <h4>PSN <small><%= @player.psn_id || '_____' %></small></h4>
  </div>
  <div class="col-sm-6 text-left">
    <h4>Steam <small><%= @player.steam_id or '_____' %></small></h4>
  </div>
</div>

<h2>Teams</h2>
<table class="table">
  <thead>
    <tr>
      <th>Team</th>
      <th>Season</th>
      <th>players</th>
    </tr>
  </thead>
  <tbody>
    <% for team in @player.teams %>
      <tr>
        <td><%= team.name %></td>
        <td><%= team.season %></td>
        <td><%= team.players_string %></td>
      </tr>
    <% end %>
  </tbody>
</table>
