<p id="notice"><%= notice %></p>

<p>
  <strong>Home team:</strong>
  <%= @match.home_team %>
</p>

<p>
  <strong>Away team:</strong>
  <%= @match.away_team %>
</p>

<p>
  <strong>Match status:</strong>
  <%= @match.match_status %>
</p>

<ul>
  <% for game in @match.games do %>
    <li><%= game.to_s %></li>
  <% end %>
</ul>

<%= link_to 'Edit', edit_match_path(@match) %> |
<%= link_to 'Back', matches_path %>
